
.idea/vcs.xml
.idea/Slicer.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
*.safetensors
*.wav
*.wav
*.wav
*.wav
*.wav
*.flac
*.flac
